<div class="fields bill-fields">
  <div class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-remove"></span>
        <%= link_to_remove_fields "remove", f %>
      </span>
    
      <div class="input-group">
        <%= f.input :amount, class: "form-control", placeholder: "13.5", label: false %>
        <span class="input-group-addon">€</span>
      </div>
    
      <%= f.input :title, class: "form-control", placeholder: "grocery", label: false %>
  </div>
  <br>
</div>
