# bundler state
/.bundle
/vendor/bundle/
/vendor/ruby/

# minimal Rails specific artifacts
db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*

# Ignore application configuration
/config/application.yml

# Ignore local rvm settings
.ruby-version
.ruby-gemset
