// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img:not(.scissors) {
  @extend .img-responsive;
  margin: 0 auto;
  }

// move logo to the left
.scissors {
  margin-left: -20px;
}

// override all navigation links
.navbar-brand, .navbar-nav {
  font-size: 16px;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }
